{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="site-section">
    <div class="container">
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-4">Hi There! I'm Meagan Smith</h2>
                        <p class="mb-5"><img src="{% static 'images/img_6.jpg' %}" alt="Image placeholder" class="img-fluid"></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum minima eveniet recusandae
                            suscipit eum laboriosam fugit amet deleniti iste et. Ad dolores, necessitatibus non saepe
                            tenetur impedit commodi quibusdam natus repellat, exercitationem accusantium perferendis
                            officiis. Laboriosam impedit quia minus pariatur!</p>
                        <p>Dignissimos iste consectetur, nemo magnam nulla suscipit eius quibusdam, quo aperiam quia
                            quae est explicabo nostrum ab aliquid vitae obcaecati tenetur beatae animi fugiat officia id
                            ipsam sint? Obcaecati ea nisi fugit assumenda error totam molestiae saepe fugiat officiis
                            quam?</p>
                        <p>Culpa porro quod doloribus dolore sint. Distinctio facilis ullam voluptas nemo voluptatum
                            saepe repudiandae adipisci officiis, explicabo eaque itaque sed necessitatibus, fuga, ea
                            eius et aliquam dignissimos repellendus impedit pariatur voluptates. Dicta perferendis
                            assumenda, nihil placeat, illum quibusdam. Vel, incidunt?</p>
                        <p>Dolorum blanditiis illum quo quaerat, possimus praesentium perferendis! Quod autem optio
                            nobis, placeat officiis dolorem praesentium odit. Vel, cum, a. Adipisci eligendi eaque
                            laudantium dicta tenetur quod, pariatur sunt sed natus officia fuga accusamus reprehenderit
                            ratione, provident possimus ut voluptatum.</p>
                    </div>
                </div>
                <div class="row mb-5 mt-5">
                    <div class="col-md-12 mb-5">
                        <h2>My Latest Posts</h2>
                    </div>
                    <div class="col-md-12">
                        {% for post in posts %}
                        <div class="post-entry-horzontal" style="width: 640px;">
                            <a href="{% url 'views' post.slug %}">
                                <div class="image" style="background-image: url({{ post.image.url }});"></div>
                                <span class="text">
                                <div class="post-meta">
                                <span class="category">{{ post.category.name }}</span>
                                <span class="mr-2">{{ post.created_at | date:"F d, Y" }} </span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                </div>
                                <h2>{{ post.title }}</h2>
                                </span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&lt;</a></li>
                                {% endif %}

                                    {% for i in posts.paginator.page_range %}
                                        {% if posts.number == i %}
                                            <li class="page-item"><a class="active page-link">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a></li>
                                    {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
                {% include 'sitebar.html' %}
        </div>
    </div>
</section>

{% endblock %}