{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="site-section">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h2 class="mb-4">Category: {{ category.name }}</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5 mt-5">
                    <div class="col-md-12">
                        {% for post in posts %}
                        <div class="post-entry-horzontal">
                            <a href="{% url 'views' post.slug %}">
                                <div class="image element-animate" data-animate-effect="fadeIn"
                                     style="background-image: url({{ post.image.url }});"></div>
                                <span class="text">
                                <div class="post-meta">
                                <span class="category">{{ post.category.name }}</span>
                                <span class="mr-2">{{ post.created_at | date:"F d, Y" }}</span> &bullet;
                                <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                </div>
                                <h2>{{ post.title }}</h2>
                                </span>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <nav aria-label="Page navigation" class="text-center">
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&lt;</a></li>
                                {% endif %}

                                    {% for i in posts.paginator.page_range %}
                                        {% if posts.number == i %}
                                            <li class="page-item"><a class="active page-link">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% if posts.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>

                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="{% static 'images/person_1.jpg' %}" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>Meagan Smith</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt
                                repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias
                                minus.</p>
                            <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                            <p class="social">
                                <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
                                <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Popular Posts</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            {% for post in slide_posts %}
                            <li>
                                <a href="{% url 'views' post.slug %}">
                                    <img src="{{ post.image.url }}" alt="Image placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>{{ post.title }}</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">{{ post.created_at | date:"F d, Y" }}</span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Categories</h3>
                    <ul class="categories">
                        {% for ctg in categories %}
                        <li><a href="{% url 'category' ctg.slug %}">{{ ctg.name }} <span>(12)</span></a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sidebar-box">
                    <h3 class="heading">Tags</h3>
                    <ul class="tags">
                        {% for tag in tags %}
                            <li><a href="#">{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}